<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Memos</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/memos.css" />


</head>
<body>
<div class="container">

<!-- Flashed messages before content -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h1>Create a memo</h1>
  <form method="post">
  <table>
    <tr>
      <td>Date:</td>
      <td><input type=date name="begin_date" id="begin_date" value="2017-01-01" /></td>
    </tr>
    <tr>
      <td>Memo:</td>
      <td><textarea name="memo" id="memo"></textarea></td>
    </tr>
    <tr>
      <td align="center"><input type="submit" id="save" value="Save" /></td>
      <td align="center"><a href="/"><button>Cancel</button></a></td>
    </tr>
    </table>
    </form>

</div> <!-- container -->
</body>
</html>
